*{
    margin:0;
    padding:0;
}
#top{
    text-align:center;
    color:#F70D1A;
    font-size:30px;
}

#top1{
    text-align:center;
    font-size:14px;
}

#navbar{
    display:flex;
    flex-direction: column;
    background-color:#A47551;
    height: 10vh;
    width: 100vw;
    margin-top:5px;
    margin-bottom:5px;
    list-style: none;
    border-style: solid hidden;
    border-color:black;
}
